<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="display: inline; float: left;">Welcome </h1><h1 id="group-name" style="display: inline;float: right;"></h1>
    <hr style="clear: none;">
    <input type="text" id="group-id" placeholder="Group Name" style="display: block;"/>
    <div id="chat"></div>
    <input type="text" id="handle" placeholder="Handle"style="display: block;"/>
    <input type="text" id="message" placeholder="Type Message" style="display: block;">

    <button id="send">Send</button>
    <script src="./script.js"></script>
</body>
</html>